<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/jee
        http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/websocket
		http://www.springframework.org/schema/websocket/spring-websocket.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="com.deltacom.app"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url" value="jdbc:h2:mem:PUBLIC;MODE=mysql;DATABASE_TO_UPPER=false;DB_CLOSE_DELAY=-1" />
        <property name="driverClassName" value="org.h2.Driver" />
    </bean>

    <bean id="flyway" class="org.flywaydb.core.Flyway" depends-on="dataSource" init-method="migrate">
        <property name="dataSource" ref="dataSource"/>
        <property name="schemas" value="PUBLIC"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="flyway">
        <property name="persistenceUnitName" value="DeltaCom-test" />
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence-test.xml" />
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" depends-on="flyway">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager" />

    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" />
    <bean id="contentNegotiationManager"
          class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false" />
        <property name="favorParameter" value="true" />
        <property name="mediaTypes">
            <value>
                json=application/json
            </value>
        </property>
    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate" depends-on="flyway">
        <constructor-arg type="javax.sql.DataSource" ref="dataSource"/>
    </bean>

    <bean id="messageSenderService" class="com.deltacom.app.services.implementation.MessageSenderServiceImpl"/>

    <jee:jndi-lookup id="connectionFactory"
                     jndi-name="java:/activemq/deltacom/topic" proxy-interface="javax.jms.ConnectionFactory"
                     lookup-on-startup="false"/>

    <jee:jndi-lookup id="jndiSendTopic" jndi-name="java:/activemq/deltacom/topic"
                     proxy-interface="javax.jms.Topic" lookup-on-startup="false"/>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref ="connectionFactory"/>
        <property name="defaultDestination" ref="jndiSendTopic"/>
        <property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE"/>
    </bean>

    <websocket:message-broker>
        <websocket:stomp-endpoint allowed-origins="*" path="/subscrToOptions">
            <websocket:sockjs />
        </websocket:stomp-endpoint>
        <websocket:stomp-endpoint allowed-origins="*" path="/subscrToTariffs">
            <websocket:sockjs />
        </websocket:stomp-endpoint>
        <websocket:simple-broker prefix="/topic" />
    </websocket:message-broker>

    <bean id="defaultHandshakeHandler" class="org.springframework.web.socket.server.support.DefaultHandshakeHandler">
        <constructor-arg ref="upgradeStrategy"/>
    </bean>

    <bean id="upgradeStrategy" class="org.springframework.web.socket.server.standard.UndertowRequestUpgradeStrategy"/>


    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="username" value="deltacomapp@gmail.com" />
        <property name="password" value="DeltaComApp1" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>
</beans>