<!doctype html>
<html ng-app="advStand">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../resources/js/jquery-2.1.4.min.js"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="../resources/js/angular.min.js"></script>
    <script src="../resources/js/angular-animate.min.js"></script>
    <script src="../resources/js/advStand.js"></script>
    <script src="../resources/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/bootstrap-template.min.css">
    <title>DeltaCom Tariffs</title>
</head>
<body>
    <section class="material-half-bg">
        <div class="cover"></div>
    </section>
    <section class="login-content">
        <div class="card">
            <img src="../resources/img/siteLogo.png">
            <div ng-controller="TariffsController">
                <div uib-carousel interval="carouselInterval" active="carouselActiveSlide" no-pause="true">
                    <div uib-slide ng-repeat="tariff in tariffs" index="$index">
                        <h2>{{tariff.name}}</h2>
                        <div style="text-align: left">
                            <p>Price: {{tariff.price}}</p>
                            <p>Options: </p>
                            <ul>
                                <li ng-repeat="option in tariff.options">
                                    {{option.name}}
                                </li>
                            </ul>
                        </div>
                        <div class="carousel-caption"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>